@model Salon_and_Spa.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.General_User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.General_User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salon_Owner.Name_Of_The_Salon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salon_Owner.Name_Of_The_Salon)
        </dd>

    </dl>
</div>
<p>
    @{DateTime Date = Convert.ToDateTime(Model.Date); }
    @if (Date >= DateTime.Today)
    {
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
    }
    <div>
        @Html.ActionLink("Back to List", "History")
    </div>
</p>
